<% content_for :page_title,  "La Gestion de Bibliotheque" %>
<div class="card" >
  <div class="card-body">
    <p class="card-text">
        <h2>💡 Ce code offre une base solide pour la création et la gestion d'une bibliothèque virtuelle, tout en offrant une flexibilité pour l'adaptation à vos besoins spécifiques. </h2>
        <div class="container has-text-centered">
          <img src="https://c1.wallpaperflare.com/preview/1017/419/763/library-books-shelves-bookshelf.jpg" class="card-img-top" style="width:800px;" alt="Image">
        </div>
        <p><strong>1️⃣ Créer des livres :</strong>  Avec ce code, vous pouvez aisément créer de nouveaux livres et les intégrer à votre collection. Chaque livre peut être associé à des informations détaillées telles que le titre, l'auteur, et bien plus encore.</p><br>
        <p><strong>2️⃣ Créer des auteurs :</strong>  Les auteurs sont au cœur de chaque livre. Avec ce code, vous pouvez facilement ajouter de nouveaux auteurs à votre base de données et les associer à leurs œuvres.</p><br>
        <p><strong>3️⃣ Gérer les emprunts :</strong>  L'une des fonctionnalités les plus importantes d'une bibliothèque est la gestion des emprunts. Ce code permet de créer des emprunts, que ce soit pour des livres, des ordinateurs, des documents ou d'autres types de matériel.</p><br>
        <p><strong>4️⃣ Gérer les matériels :</strong>  En plus des livres, votre bibliothèque peut proposer une variété d'autres ressources telles que des ordinateurs, des documents, etc. Ce code vous permet de les ajouter à votre inventaire.</p><br>
        <p><strong>5️⃣ Gérer les adhérents :</strong>  Offrir à vos utilisateurs la possibilité de devenir membres de votre bibliothèque est crucial. Ce code permet de créer des profils d'adhérents, leur permettant d'emprunter des livres et d'accéder à d'autres fonctionnalités.</p><br>
        <p><strong>6️⃣ Page d'authentification :</strong>  La sécurité est primordiale. Avec une page d'authentification intégrée, seuls les utilisateurs autorisés peuvent accéder aux fonctionnalités de gestion de la bibliothèque.</p><br>

    </p>
  </div>
</div>
