<% content_for :page_title,  "Creer Adherent" %>

<%= render "form", adherent: @adherent %>

<br>

<div class="card">
  <div class="card-body">
    <div class="mb-10 container-fluid">
      <%= link_to "Back to adherents", adherents_path, class: "btn btn-outline-info mr-2" %>
    </div>
  </div>
</div>
