<% content_for :page_title, @materiel.nom %>

<%= render "form", materiel: @materiel %>

<br>

<div class="card">
  <div class="card-body">
    <div class="mb-10 container-fluid">
      <%= link_to "Show this materiel", @materiel, class: "btn btn-outline-info mr-2" %> 
      <%= link_to "Back to materiels", materiels_path, class: "btn btn-outline-info mr-2" %>
    </div>
  </div>
</div>
