<% content_for :page_title,  "Creer Auteur" %>

<%= render "form", auteur: @auteur %>

<div class="card">
  <div class="card-body">
    <div class="mb-10 container-fluid">
      <%= link_to "Back to auteurs", auteurs_path, class: "btn btn-outline-info mr-2" %>
    </div>
  </div>
</div>



